<%include header%>
<%include left%>
<%include navbar%>


<a href="/logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
</div>
<div class="row J_mainContent" id="content-main">
    <iframe class="J_iframe" name="iframe0" id="shouye2" width="100%" height="100%" src="<%=page%>" frameborder="0" data-id="<%=page%>" seamless></iframe>
</div>
<div class="footer">
    <div class="pull-right">&copy; 2019 <a href="#" target="_blank">admin</a>
    </div>
</div>
</div>
<!--右侧部分结束-->



<%include footer%>

<script>
    //解决首页切换问题
    $("#shouye").click(function () {
        $("#shouye2").css('display',"inline");
    });
</script>
</body>
</html>
